<h1>It's a beautiful day out there. What do you want to play?</h1>

<%= form_for @player do |f| %>

  <%= f.collection_check_boxes(:activity_ids, @activities, :id, :display_activity) %>

  <%= f.submit %>

<% end %>

<h3>Your Current Activities</h3>

<ul>
  <% @player.activities.each do |activity| %>
    <li><%= activity.name.titleize %></li>
  <% end %>
</ul>